* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: #80808033;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
    text-decoration: none;
}


/* header */

header {
    width: 100%;
    height: 90px;
    background-image: linear-gradient(#2700ff36, #8f8c92b5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header span {
    margin-left: 20px;
    font-family: 'Suez One', serif;
    font-size: 1.3rem;
}

.header_nav{
    display: flex;
    height: 100%;
    margin-right: 70px;
}

header nav {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

header nav a {
    text-decoration: none;
    margin-right: 100px;
    margin-bottom: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: color 0.3s;
}

header nav a:hover {
    color: blueviolet;
}

.login_btn {
    display: flex;
    align-self: center;
    height: 40px;
    width: 120px;
    background-color: #93c5dc80;
    border-radius: 10px;
    border: solid 1px #80808085;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: box-shadow 0.3s;
}

.login_btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_user a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    transition: color 0.3s;
}

.login_user a:hover {
    color: blueviolet;
}


/* main block */

.main {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

.main_links {
    color: #040432;
    text-decoration: none;
    transition: text-decoration 0.8s;
}

.main_links:hover {
    text-decoration: underline;
}


/* side panel*/

aside {
    width: 450px;
    text-align: center;
}

.new_post_btn {
    background-color: #93c5dc80;
    margin-top: 25px;
    display: inline-block;
    padding-top: 15px;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #80808085;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    transition: box-shadow 0.3s;
}

.new_post_btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*  sorting form  */

aside form {
    display: block;
    text-align: left;
    padding: 30px 0 5px 10px;
}

aside form button {
    background-color: #bcd5e0;
    border-radius: 7px;
    border: 1px solid gray;
    float: right;
    width: 70px;
    height: 30px;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

aside form button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.visitors {
    width: 90%;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
}

.visitors p {
    min-width: 200px;
    margin-top: 10px;
    padding-left: 10px;
}


/* article */

article {
    width: 90%;
    height: 300px;
    margin: 20px;
    position: relative;
    float: left;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_cont {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.img_cont img {
    height: 100%;
    width: auto;
}

.post_cont {
    text-align: center;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 20px 30px;
}

.post_header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}

.post_body h4 {
    padding-top: 15px;
    font-size: 1.1rem;
}

.post_text {
    text-align: left;
    text-indent: 20px;
    height: 100px;
    overflow: hidden;
}

.post_text_footer {
    display: flex;
    justify-content: space-between;
    text-indent: 20px;
    height: 34px;
    margin-top: 6px;
    overflow: hidden;
}

.post_footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.post_footer a {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    background-color: #bcd5e0;
    border: solid 1px #80808085;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: box-shadow 0.3s;
    margin-right: 10px;
}

.post_footer a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.likes_cont {
    display: flex;
    align-items: center;
}

.likes_cont span {
    margin-right: 5px;
    margin-top: 3px;
}
.post_footer .img_like{
    width: 30px;
    height: 30px;
    border: none;
}

.img_like img {
    object-fit: cover;
}

.post_edit {
    font-size: 0.9rem;
    display: inline-block;

}

.post_edit a {
    vertical-align: middle;
}

.post_edit a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.modal_buttons {
    display: flex;
    justify-content: space-between;
}

/*  admin page  */
.del_field {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer {
    width: 100%;
    height: 90px;
    background-color: black;
    color: white;
    text-align: center;
}

/* styling the buttons "will share" */
.share-btns {
    display: flex;
    flex-wrap: wrap;
}

.share-btns a {
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.share-btns a:not(:last-child) {
    margin-right: 5px;
}

.share-btns a.facebook {
    background: lightblue url("../../icons/share-btns.png") no-repeat left top;
}

.share-btns a.twitter {
    background: url("../../icons/share-btns.png") no-repeat -42px top;
}

.share-btns a.telegram {
    background: url("../../icons/share-btns.png") no-repeat -672px top;
}