{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" href="http://localhost:5000{{ url_for('static', filename='assets/css/post.css') }}" />
{% endblock %}

{% block body %}
<!--  article  -->
    <article>
        <p>{{ article.author.name }}</p><hr>
        <h4>{{ article.title }}</h4>
        <p class="article_body">{{ article.text }}</p>
        <div class="article_footer">
            <span>Views: {{ article.views }}</span>
            <span>Likes: {{ article.likes_count }}</span>
        </div>
    </article>

{#  share buttons  #}
    <div class="share-btns">
    <a
        class="facebook"
        rel="nofollow"
        href="javascript: void(0)"
        onClick="window.open('https://www.facebook.com/sharer.php?u=АДРЕС_СТРАНИЦЫ','sharer','status=0,toolbar=0,width=650,height=500');"
        title="Поделиться в Facebook"></a>


    <a
        class="telegram"
        rel="nofollow"
        href="javascript: void(0)"
        onClick="window.open('https://telegram.me/share/url?url=АДРЕС_СТРАНИЦЫ','sharer','status=0,toolbar=0,width=650,height=500');"
        title="Поделиться в Телеграм"></a>

    <a
        class="twitter"
        rel="nofollow"
        href="javascript: void(0)"
        onClick="window.open('https://twitter.com/intent/tweet?text=ТАЙТЛ_СТРАНИЦЫ. ОПИСАНИЕ. СССЫЛКА','sharer','status=0,toolbar=0,width=650,height=500');"
        title="Твитнуть"></a>

</div>

{% endblock %}

<div class="share-btns">
    <a
        class="facebook"
        rel="nofollow"
        href="javascript: void(0)"
        onClick="window.open('https://www.facebook.com/sharer.php?u=АДРЕС_СТРАНИЦЫ','sharer','status=0,toolbar=0,width=650,height=500');"
        title="Поделиться в Facebook"></a>


    <a
        class="telegram"
        rel="nofollow"
        href="javascript: void(0)"
        onClick="window.open('https://telegram.me/share/url?url=АДРЕС_СТРАНИЦЫ','sharer','status=0,toolbar=0,width=650,height=500');"
        title="Поделиться в Телеграм"></a>

    <a
        class="twitter"
        rel="nofollow"
        href="javascript: void(0)"
        onClick="window.open('https://twitter.com/intent/tweet?text=ТАЙТЛ_СТРАНИЦЫ. ОПИСАНИЕ. СССЫЛКА','sharer','status=0,toolbar=0,width=650,height=500');"
        title="Твитнуть"></a>

</div>


