{% extends 'new_article.html' %}

{% block body %}
    <div class="form_container">
        <form method="post" enctype=multipart/form-data>

            {% block label %}

                {% if 'title_error' in errors %}
                    <span class="error_message">{{ errors['title_error'] }}</span><br>
                {% endif %}
                <label for="title">Article title:</label>
                {% if check %}
                    <input type="text" class="form-control" name="title" id="title" placeholder="title"><br>
                    {% else %}
                    <input type="text" class="form-control" name="title" id="title" value="{{ edit_info.title }}"><br>
                {% endif %}

                <label for="exampleFormControlSelect1">Select category:</label>
                <select name="category_id" class="form-control" id="exampleFormControlSelect1">
                {% for category in categories %}
                  <option value="{{ category.id }}" {% if category.id == edit_info.category.id %}selected{% endif %}>{{ category.category_name }}</option>
                {% endfor %}
                </select>
                <br>

                <p>Tags:</p>
                {% for tag in edit_info.tags %}
                    <span style="margin-left: 10px">
                        <span>#{{ tag.tag_name }}</span>
                        <a href="/tag/delete/{{ edit_info.id }}/{{ tag.id }}"><img src="/static/icons/delete.svg" alt="" style="width:25px; height:25px"></a>
                    </span>
                {% endfor %}
                <br>
                    <label for="tags"></label>
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="new tags"><br>

                {% if 'image_error' in errors %}
                    <span class="error_message">{{ errors['image_error'] }}</span><br>
                {% endif %}
                <label for="article_image">Article image:</label><br>
                <input type="file" name="article_image" value="{{ edit_info.image }}"><br><br>

                {% if 'text_error' in errors %}
                    <span class="error_message">{{ errors['text_error'] }}</span><br>
                {% endif %}
                <label for="text">Article text:</label>
                {% if check %}
                    <textarea class="form-control" rows="5" name="text" id="text" placeholder="text"></textarea><br>
                    {% else %}
                    <textarea class="form-control" rows="5" name="text" id="text">{{ edit_info.text }}</textarea><br>
                {% endif %}

                <button type="submit" class="btn btn-primary">Edit post</button>
            {% endblock %}
        </form>
    </div>
{% endblock %}