<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% block head %}
        <link rel="stylesheet" href="http://localhost:5000{{ url_for('static', filename='assets/css/style.css') }}" />
    {% endblock %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>

    <!-- header -->
    <header>
        <span>ItStep Blog</span>

        <div class="header_nav">
            <nav>
                {% if user.access_rights == 5 %}
                    <a href="/admin">admin panel</a>
                {% endif %}

                <a href="/">main</a>
                <a href="/authors">authors</a>
                <a href="/">about</a>
            </nav>

            {% if user.is_authenticated %}
                <div class="login_user">
                    <h2>Hi, {{ current_user.login }}!</h2>
                    <a href={{ url_for('logout') }}>logout</a>
                </div>
            {% else %}
                <a class="login_btn" href={{ url_for('login_page') }}>login</a>
            {% endif %}
        </div>
    </header>

    {% block body %}
    <!--  main block  -->
    <div class="main">
        <!-- left side panel -->
        <aside>
            <a href="/new_article" class="new_post_btn">new article</a>

            <form method="post">
                <input type="radio" id="date" name="sort_by" value="date" checked>
                <label for="date">Sort by date</label><br>
                <input type="radio" id="author" name="sort_by" value="author">
                <label for="author">Sort by author</label><br>
                <button type="submit">sort</button>
            </form>

            <div class="visitors">
                <span>Categories:</span>
                <hr>

                {% for category in categories %}
                    <p><a href="/category/{{ category.id }}">{{ category.category_name }}</a></p>
                {% endfor %}

            </div>
        </aside>

        <!--  article block  -->
        <div>

            {% for article in articles %}
                <article>
                    <div class="img_cont">
                        <img src="/static/images/{{ article.image }}" alt="">
                    </div>

                    <div class="post_cont">
                        <div class="post_body">
                            <div class="post_header">
                                <span><a href="author/{{ article.author.id }}">{{ article.author.name }}</a></span>
                                <span>Date: {{ article.created_on.strftime('%Y-%m-%d') }}</span>
                            </div>
                            <hr>
                            <h4>{{ article.title }}</h4>
                            <p class="post_text">{{ article.text[:200] }}</p>
                            <div class="post_text_footer">
                                <span>Categories: <a href="/category/{{ article.category.id }}">{{ article.category.category_name }}</a></span>
                                <span>Tags:
                                    {% for tag in article.tags %}
                                        <a href="/tag/{{ tag.id }}">#{{ tag.tag_name }}</a>
                                    {% endfor %}
                                </span>

                            </div>

                        </div>
                        <div class="post_footer">
                            <div class="likes_cont">
                                {% if article.id not in likes_count %}
                                    <a class="img_like" href="/like/{{ article.id }}"><img src="/static/icons/like.png" alt=""></a>
                                {% endif %}
                                <span>Likes: <span>{{ article.likes_count }}</span></span>
                                <span>Views: {{ article.views }}</span>
                            </div>

                            {% if article.author_id == user.id %}
                                <div class="post_edit">
                                    <a href="#ex{{ article.id }}" rel="modal:open"><img src="/static/icons/delete.svg" alt="">delete</a>
                                    <a href="/edit/{{ article.id }}"><img src="/static/icons/edit.svg" alt="">edit</a>
                                </div>
                            {% endif %}

                            <a href="/article/{{ article.id }}">Read more</a>
                        </div>
                    </div>
                </article>

                {#  Modal  #}
                <div id="ex{{ article.id }}" class="modal">
                    <p>PostsTotal '{{ article.title }}'  will be <bold>deleted!</bold></p>
                    <p>continue?</p>
                    <div class="modal_buttons">
                        <a href="/delete/{{ article.id }}">Delete</a>
                        <a href="#" rel="modal:close">Close</a>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
    {% endblock %}

    <!--  footer  -->
    <footer>
        footer
    </footer>


    <!-- Link to open the modal -->
{#    <p><a href="#" rel="modal:open">Open Modal</a></p>   #}

    <!-- scripts -->
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="http://localhost:5000{{ url_for('static', filename='assets/css/post.css') }}"></script>
    {% endblock %}
</body>

</html>