{% extends 'users/edit_user.html' %}

{% block label %}

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <label for="password">Current password:</label>
            <input type="password" class="form-control" name="password" id="password"><br>
        </div>
    </div>

    {% if 'password_error' in errors %}
        <span>{{ errors['password_error'] }}</span><br>
    {% endif %}
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <label for="new_password">New password:</label>
            <input type="password" class="form-control" name="new_password" id="new_password"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <label for="new_password2">Re-enter new password:</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2"><br>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Change password</button>
{% endblock %}