{% extends 'articles/new_post.html' %}

{% block body %}
    <div class="login_container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
        <form method="post">

            {% block label %}
                <label for="login">Login:</label>
                <input type="text" class="form-control" name="login" id="login" placeholder="Login"><br>
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password"><br>
            {% endblock %}

            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{{ url_for('register') }}">Register</a>
        </form>
    </div>
{% endblock %}